
body,html{
    height: 100%;
    margin:0;
    font: 400 15px/1.8 "Lato", sans-serif;
}

.parallax-image-1{
    background-image: url("./images/img_parallax.jpg");
    min-height: 100%;
}

.parallax-image-1{
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.output{
        position: absolute;
        top: 35%;
        margin-left: 35%;
        margin-right: 30%;
}
    
    .output-container .output {
        text-align:center;
        font-family: 'Source Code Pro', monospace;
        color:rgb(51, 219, 68);
        h1 {
        font-size:30px;
        text-align: center;
        }
    }
    
  /* Cursor Styling */
    
    .cursor::after {
        content:'';
        display:inline-block;
        margin-left:3px;
        background-color:rgb(11, 40, 12);
        animation-name:blink;
        animation-duration:0.3s;
        animation-iteration-count: infinite;
    }
    h1.cursor::after {
        height:24px;
        width:13px;
    }
    p.cursor::after {
        height:13px;
        width:6px;
    }
    
    @keyframes blink {
        0% {
        opacity:1;
        }
        49% {
        opacity:1;
        }
        50% {
        opacity:0;
        }
        100% {
        opacity:0;
        }
    }



/* my ambitions */
.my-ambition-headline{
    text-align: center;
    font: 20px "Lato", sans-serif;
    padding-top:5%;
    color: #111;
}


.my-ambition .my-ambition-text{
    text-align: center;
    margin-top: 0px;
    font-size:18px;
    color: #777;
    padding: 50px 80px;
}


/* before projects background */
.project-background-2{
    background-image: url("./images/img_parallax.jpg");
    min-height:60%;
}

.project-background-2{
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* project background */
.projects .projects-headline{
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    font-size: 30px;
}

/* projects */


.projects .container {
    position : relative;
    display :inline-flex;
    justify-content : center;
    align-items : center;
    flex-warp : warp;
}

.projects .container .card {
    position: relative;
    max-width : 300px;
    height : 215px;  
    background-color : #fff;
    margin : 100px 10px;
    padding : 20px 15px;
    display :flex;
    flex-direction : column;
    box-shadow : 0 5px 20px rgba(0,0,0,0.5);
    transition : 0.3s ease-in-out;
    border-radius : 15px;
}

.container .card:hover {
    height : 320px;    
}


.container .card .image {
    position : relative;
    width : 260px;
    height : 260px;
    top : -40%;
    left: 15px;
    box-shadow : 0 5px 20px rgba(0,0,0,0.2);
    z-index : 1;
}

.container .card .image img {
    max-width : 100%;
    border-radius : 15px;
}

.container .card .content {
    position : relative;
    top : -140px;
    padding : 10px 15px;
    color : #111;
    text-align : center;
    visibility : hidden;
    opacity : 0;
    transition : 0.3s ease-in-out;
    
}

/* git projects */

.projects .last-container-for-more-git {
    position : relative;
    display :inline-flex;
    justify-content : center;
    align-items : center;
    flex-warp : warp;
    margin-inline-start: 40%;
}

.projects .last-container-for-more-git .card {
    position: relative;
    max-width : 300px;
    height : 215px;  
    background-color : #fff;
    margin : 100px 10px;
    padding : 20px 15px;
    display :flex;
    flex-direction : column;
    box-shadow : 0 5px 20px rgba(0,0,0,0.5);
    transition : 0.3s ease-in-out;
    border-radius : 15px;
}

.last-container-for-more-git .card:hover {
    height : 320px;    
}


.last-container-for-more-git .card .image {
    position : relative;
    width : 260px;
    height : 260px;
    top : -40%;
    left: 14px;
    box-shadow : 0 5px 20px rgba(0,0,0,0.2);
    z-index : 1;
}

.last-container-for-more-git .card .image img {
    max-width : 100%;
    border-radius : 15px;

}

.last-container-for-more-git .card .content {
    position : relative;
    top : -140px;
    padding : 10px 15px;
    color : #111;
    text-align : center;
    visibility : hidden;
    opacity : 0;
    transition : 0.3s ease-in-out;
    
}


/* experience section  */
.experience .experience-main-headline{
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    font-size: 30px;
}

.experience .job-details-container{
    display :flex;
}

.experience .my-job-title{
    text-align: left;
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
    padding: 10px;

}

.experience .job-details-container .job-description{
    box-sizing: border-box;
    position: relative;
    text-align: left;
    font-family: 'Source Code Pro', monospace;
    font-size: 12px;
    /* margin: 0 50% 0 auto; */
    margin-top: 0px;
    padding: 10px;
    /* padding-ght: 50px; */
    margin-top: 0px;
    color: #777;
    flex-warp : warp;

}
.experience .job-details-container .image img{
    flex-warp : warp;
    width: 100%;
    z-index: 1;
}